app/droidAssist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="DailyyogaMIIT">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Global" />
                <xs:element ref="Replace" />
                <xs:element ref="Insert" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Global">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Filter" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Replace">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="MethodCall" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Insert">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="BeforeMethodCall" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MethodCall">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Source" />
                <xs:element ref="Target" />
                <xs:element minOccurs="0" ref="Filter" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="BeforeMethodCall">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Source" />
                <xs:element ref="Target" />
                <xs:element minOccurs="0" ref="Filter" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Source" type="xs:string">
<!--        <xs:complexType >-->
<!--            <xs:attribute name="extend" type="xs:boolean" />-->
<!--        </xs:complexType>-->
    </xs:element>

    <xs:element name="Target" type="xs:string" />

    <xs:element name="Filter">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="Exclude" />
            </xs:sequence>
            <xs:attribute name="ignoreGlobalExcludes" type="xs:boolean" />
        </xs:complexType>
    </xs:element>

    <xs:element name="Exclude" type="xs:string" />


</xs:schema>
